.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f4f4f4;
  border: solid 2px rgba(0, 0, 0, 60%);
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}
.row div{
  flex: 2;
}

.edit-btn {
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #fc6225;
  border-radius: 5px;
  font-size: 18px;
  background-color: #fc6225;
  color: #fff;
}

.edit-btn:hover {
  background-color: #fff;
  color: #fc6225;
  border: solid 1px #fc6225;
  cursor: pointer;
}

.delete-btn {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  background-color: #d00;
  color: #fff;
  cursor: pointer;
}