* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App companies_header {
  margin-bottom: 0;
}

.App header h1 {
  background: orangered;
  color: white;
}

.App header p {
  color: orangered;
}

.App body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  text-align: center;
}

.App a {
  color: #333;
  text-decoration: none;
}