.boilersFormContainer {
    display: flex;
    flex-direction: column;
  }
    
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
    
  .inputContainer input, .inputContainer select {
    padding: 10px;
  }
    
  .boilersFormContainer label {
    margin: 10px 0px;
  }
    
  .typeContainer {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: center;
  }
    
  .typeContainer label {
    margin: 0px 10px;
  }
    
  .buttonContainer {
    display: flex;
    justify-content: center;
  }
  