.updateBtn {
    padding: 10px;
    border: solid 1px #fc6225;
    border-radius: 5px;
    font-size: 18px;
    background-color: #fc6225;
    color: #fff;
}
  
.updateBtn:hover {
    background-color: #fff;
    color: #fc6225;
    border: solid 1px #fc6225;
    cursor: pointer;
}
  
.deleteBtn {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d00;
    color: #fff;
    cursor: pointer;
}

.table {
    height: 50px;
    text-align: center;
}
