.navBar {
  text-align: center;
  margin: 20px auto;
}

.insideLink {
  margin: 0px 30px;
  padding: 10px;
  color: #fc6225;
  font-size: 18px;
  text-decoration: none;
}

.insideLink:hover {
  background-color: #fc6225;
  color:white;
}

.active {
  border-bottom: solid 2px #fc6225;
}