.headers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fc6225;
  border-bottom: solid 1px black;
  margin-bottom: 5px;
  font-family: Open-sans;
  font-weight: 700;
}
.header {
  flex: 1;
}