.tableHeader {
    width: 100%;
}

.tableCaption {
    font-size:3vw;
    margin-bottom:5px;
}

.btnAdd {
    width: 100%;
    height: 50px;
    background-color: #fc6225;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: solid 1px #fc6225;
}

.link {
    width: 90%;
}

.btnAdd:hover {
    background-color: #fff;
    color: #fc6225;
    border: solid 1px #fc6225;
    cursor: pointer;
}

.divAdd {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
