.Button {
    background-color: white;
    color:  #fc6225;
    border: 1px solid black;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
}

.Button.Button-primary {
    background-color: #fc6225;
    color: white;
}
