.addForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.addNewDiv {
    width: fit-content; 
}

.addNewTitle {
    text-align: center;
}

.label {
    width:450px;
    clear:left;
    text-align:left;
    padding-right:10px;
    float:left;
}

.input {
    float:right;
}

.rows {
    margin: 10px;
    list-style-type: none;
}
