.updateCompany h3 {
	text-align: center;
	margin: 7px 0;
}

.updateCompany form {
	display: flex;
}

.updateCompany input {
	flex: 10;
	padding: 5px;
}

.updateCompany table {
	width: 100%;
	table-layout: fixed;
}

.updateCompany th {
	border-bottom: solid 1px black;
}