
.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.inputLabel {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
}
    
.inputContainer input, .inputContainer select {
  padding: 10px;
}

.msg {
  margin-left: 5px;
  margin-top: 3px;
  color: red;
  font-style: italic;
}
  