.buildingFormContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.inputContainer input, .inputContainer select {
  width: 100%;
  padding: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}